$white: #F5F5F5;
$dark-white: #CCCCCC;
$gray: #E6E8EB;
$light-blue: #9FB1CC;
$brown: #601414;
$green: #46F48C;

$primary-light: #2787F6;
$primary-deep: #095FE0;
$primary-gradient: linear-gradient(180deg, #2788F6 0%, #0960E0 100%), #095FE0;
